<ng-form name="consultForm" class="scrollable" ng-controller="ClaimEditConsultController" ng-if="isConsultVisible()">
  <div class="scrollable-content section">
    <div class="panel" id="consult">
      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-offset-6 col-xs-3 text-center">
              <label class="control-label">ER</label>
            </div>
            <div class="col-xs-3 text-center">
              <label class="control-label">Non-ER</label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <label class="control-label">General</label>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="general_er" disabled="disabled"></mb-switch>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="general_non_er" disabled="disabled"></mb-switch>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-xs-6">
              <label class="control-label">Comprehensive</label>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="comprehensive_er" disabled="disabled"></mb-switch>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="comprehensive_non_er" disabled="disabled"></mb-switch>
            </div>
          </div>

          <div class="form-group row" ng-if="isTimeVisible()">
            <label class="control-label col-xs-12">Time in</label>
            <div class="form-control-wrapper col-xs-12">
              <p class="form-control-static input-lg">{{claim.consult_time_in}}</p>
            </div>
          </div>

          <div class="form-group row" ng-if="isTimeVisible()">
            <label class="control-label col-xs-12">Time out</label>
            <div class="form-control-wrapper col-xs-12">
              <p class="form-control-static input-lg">{{claim.consult_time_out}}</p>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-xs-6">
              <label class="control-label">Limited</label>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="limited_er" disabled="disabled"></mb-switch>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="limited_non_er" disabled="disabled"></mb-switch>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-xs-12">Special visit premium</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="isPremiumVisitVisible" disabled="disabled"></mb-switch>
          </div>
        </div>

        <div class="form-group" ng-if="isPremiumVisitVisible">

          <div ng-if="dayType === 'weekday'">
            <div class="row" ng-if="claim.consult_premium_travel">
              <label class="control-label col-xs-12">Day</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_day" id="claim-consult-premium-visit-weekday-day" disabled="disabled"></mb-switch>
              </div>
            </div>

            <div class="row">
              <label class="control-label col-xs-12">Office hours</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_office_hours" id="claim-consult-premium-visit-weekday-office-hours" disabled="disabled"></mb-switch>
              </div>
            </div>

            <div class="row">
              <label class="control-label col-xs-12">Evening</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="wekday_evening" id="claim-consult-premium-visit-weekday-evening" disabled="disabled"></mb-switch>
              </div>
            </div>

            <div class="row">
              <label class="control-label col-xs-12">Night</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_night" id="claim-consult-premium-visit-weekday-night" disabled="disabled"></mb-switch>
              </div>
            </div>
          </div>

          <div ng-if="dayType === 'weekend'">
            <div class="row">
              <label class="control-label col-xs-12">Weekend</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="weekend_day" id="claim-consult-premium-visit-weekend-day" disabled="disabled"></mb-switch>
              </div>
            </div>

            <div class="row">
              <label class="control-label col-xs-12">Night</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="weekend_night" id="claim-consult-premium-visit-weekend-night" disabled="disabled"></mb-switch>
              </div>
            </div>
          </div>

          <div ng-if="dayType === 'holiday'">
            <div class="row">
              <label class="control-label col-xs-12">Holiday</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="holiday_day" id="claim-consult-premium-visit-holiday-day" disabled="disabled"></mb-switch>
              </div>
            </div>

            <div class="row">
              <label class="control-label col-xs-12">Night</label>
              <div class="form-control-wrapper col-xs-12">
                <mb-switch ng-model="claim.consult_premium_visit" on-value="holiday_night" id="claim-consult-premium-visit-holiday-night" disabled="disabled"></mb-switch>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-if="isPremiumVisitVisible && dayType === 'weekday'">
          <label class="control-label col-xs-12">Travel premium</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="claim.consult_premium_travel" id="claim-consult-premium-travel" disabled="disabled"></mb-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
