<ng-form name="claimForm" class="scrollable" ng-controller="ClaimEditClaimController">
  <div class="scrollable-content section">
    <div class="panel" id="claim">
      <div class="panel-body">
        <div class="alert alert-danger" ng-show="submitted && claimForm.$invalid">
          Please provide required claim information below before submitting.
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.photo_id.$dirty || submitted) && claimForm.photo_id.$invalid}">
          <label for="photo-file" class="control-label col-xs-12">Patient photo</label>
          <div class="form-control-wrapper col-xs-12" ng-if="photo">
            <img ng-src="{{photo.small_url}}" width="300" class="thumbnail">
          </div>
          <div class="form-control-wrapper col-xs-12">
            <span class="btn btn-primary btn-lg" disabled="disabled" ng-show="uploading">
              <i class="fa fa-spinner fa-spin"></i> Uploading…
            </span>
            <span class="btn btn-primary btn-lg fileinput-button" ng-hide="uploading">
              <i class="fa fa-camera"></i> Upload
              <input type="file" mb-upload="file" id="photo-file">
            </span>
            <input type="hidden" name="photo_id" ng-model="claim.photo_id" required>
            <div ng-messages="claimForm.photo_id.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.patient_name.$dirty || submitted) && claimForm.patient_name.$invalid}">
          <label for="claim-patient-name" class="control-label col-xs-12">Patient name</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="text" name="patient_name" ng-model="claim.patient_name" class="form-control input-lg" id="claim-patient-name" required>
            <div ng-messages="claimForm.patient_name.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.hospital.$dirty || submitted) && claimForm.hospital.$invalid}">
          <label for="claim-hospital" class="control-label col-xs-12">Hospital</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="text" name="hospital" ng-model="claim.hospital" class="form-control input-lg" id="claim-hospital" required>
            <div ng-messages="claimForm.hospital.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="claim-referring-physician" class="control-label col-xs-12">Referring physician</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="text" name="referring_physician" ng-model="claim.referring_physician" class="form-control input-lg" id="claim-referring-physician">
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.diagnosis.$dirty || submitted) && claimForm.diagnosis.$invalid}">
          <label for="claim-diagnosis" class="control-label col-xs-12">Diagnosis</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="text" name="diagnosis" ng-model="claim.diagnosis" class="form-control input-lg" id="claim-diagnosis" required>
            <div ng-messages="claimForm.diagnosis.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-xs-12">Most responsible physician</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="claim.most_responsible_physician" id="claim-most-responsible-physician"></mb-switch>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.admission_on.$dirty || submitted) && claimForm.admission_on.$invalid}">
          <label class="control-label col-xs-12" for="claim-admission-on">Admission date</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="date" name="admission_on" ng-model="claim.admission_on" class="form-control input-lg" id="claim-admission-on" mb-date required>
            <div ng-messages="claimForm.admission_on.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-xs-12">First seen date is admission</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="isFirstSeenOnHidden" id="is-first-seen-on-hidden"></mb-switch>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.first_seen_on.$dirty || submitted) && claimForm.first_seen_on.$invalid}" ng-hide="isFirstSeenOnHidden">
          <label for="claim-first-seen-on" class="control-label col-xs-12">First seen date</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="date" name="first_seen_on" ng-model="claim.first_seen_on" class="form-control input-lg" id="claim-first-seen-on" mb-date required>
            <div ng-messages="claimForm.first_seen_on_on.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-if="isFirstSeenConsultVisible()">
          <label class="control-label col-xs-12">Consult on first seen date</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="claim.first_seen_consult" id="claim-first-seen-consult"></mb-switch>
          </div>
        </div>

        <div class="form-group row" ng-if="isICUTransferVisible()">
          <label class="control-label col-xs-12">Transfer from ICU/CCU</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="claim.icu_transfer" id="claim-icu-transfer"></mb-switch>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (claimForm.last_seen_on.$dirty || submitted) && claimForm.last_seen_on.$invalid}">
          <label for="claim-last-seen-on" class="control-label col-xs-12">Last seen date</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="date" name="last_seen_on" ng-model="claim.last_seen_on" class="form-control input-lg" id="claim-last-seen-on" mb-date required>
            <div ng-messages="claimForm.last_seen_on.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">is missing</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-xs-12">Last seen date is discharge</label>
          <div class="form-control-wrapper col-xs-12">
            <mb-switch ng-model="claim.last_seen_discharge" id="claim-last-seen-discharge"></mb-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
