<div class="app has-navbar-top">
  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>Mo-Billing</span>
    </div>

    <div class="btn-group pull-left">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>

    <div class="btn-group pull-right">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="app-body">
    <div ng-show="loading" class="app-content-loading">
      <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>

    <div ng-hide="loading" class="app-content">
      <div class="scrollable">
        <div class="scrollable-content section">
          <form name="form" ng-submit="submit()" novalidate>
            <div class="panel">
              <div class="panel-body">
                <div class="form-group row" ng-class="{'has-error': (form.name.$dirty || submitted) && form.name.$invalid}">
                  <div class="form-control-wrapper col-xs-12">
                    <input type="text" name="name" ng-model="user.name" class="form-control input-lg" id="user-name" placeholder="Name" required>
                    <div ng-messages="form.name.$error" ng-show="submitted">
                      <p class="help-block" ng-message="required">is missing</p>
                    </div>
                  </div>
                </div>

                <div class="form-group row" ng-class="{'has-error': (form.email.$dirty || submitted) && form.email.$invalid}">
                  <div class="form-control-wrapper col-xs-12">
                    <input type="email" name="email" ng-model="user.email" class="form-control input-lg" id="user-email" placeholder="Email" mb-server required>
                    <div ng-messages="form.email.$error" ng-show="submitted">
                      <p class="help-block" ng-message="required">is missing</p>
                      <p class="help-block" ng-message="email">is invalid</p>
                      <p class="help-block" ng-message="server">{{errors.email[0]}}</p>
                    </div>
                  </div>
                </div>

                <div class="form-group row" ng-class="{'has-error': (form.password.$dirty || submitted) && form.password.$invalid}">
                  <div class="form-control-wrapper col-xs-12">
                    <input type="password" name="password" ng-model="user.password" class="form-control input-lg" id="user-password" placeholder="Password" required>
                    <div ng-messages="form.password.$error" ng-show="submitted">
                      <p class="help-block" ng-message="required">is missing</p>
                    </div>
                  </div>
                </div>

                <div class="form-group row" ng-class="{'has-error': (form.password_confirmation.$dirty || submitted) && form.password_confirmation.$invalid}">
                  <div class="form-control-wrapper col-xs-12">
                    <input type="password" name="password_confirmation" ng-model="user.password_confirmation" class="form-control input-lg" id="user-password-confirmation" placeholder="Confirm password" mb-confirmation="user.password" required>
                    <div ng-messages="form.password_confirmation.$error" ng-show="submitted">
                      <p class="help-block" ng-message="required">is missing</p>
                      <p class="help-block" ng-message="confirmation">does not match password</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-actions panel">
              <div class="panel-body">
                <button class="btn btn-primary btn-lg btn-block" ng-disabled="submitting">
                  <span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i> Creating Account…</span>
                  <span ng-hide="submitting"><i class="fa fa-user"></i> Create Account</span>
                </button>
                <a class="btn btn-link btn-lg btn-block" href="#/sign-in">Already have an account? Log in now</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
